@model SeniorLearnDataSeed.Models.Course.Details

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Details</h4>

   
    <p>@Model.CourseId</p>
    <p>@Model.Name</p>
    <p>Organiser: @Model.ApplicationUserId </p>
    <p>Category: @Model.Category</p>

    <p>Is the course stand alone: @Model.isStandAlone</p>

   
    <form asp-action="Delete">
        <input type="hidden" asp-for="CourseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
