@model SeniorLearnDataSeed.Models.Course.Details
@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<p>@Model.CourseId</p>
<p>@Model.Name</p>
<p>Organiser: @Model.MemberId </p>

<p>Is the course stand alone: @Model.isStandAlone</p>

<a asp-action="Index" asp-route-id="@Model.CourseId">List</a> 