@model SeniorLearnDataSeed.Models.Course.Details
@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<p>@Model.CourseId</p>
<p>@Model.Name</p>
<p>Organiser: @Model.MemberId </p>
<p>Organiser Name: @Model.MemberName </p>
<p>Is the course stand alone: @Model.isStandAlone</p>