@model List<SeniorLearnDataSeed.Models.Admin.userDetails>

<h2>Admin Page</h2>

<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.userName</td>
                <td>@user.firstName</td>
                <td>@user.lastName</td>
                <td>@user.role</td>
            </tr>
        }
    </tbody>
</table>

<!-- Add the Edit button below the table -->
<a asp-action="adminListEdit" class="btn btn-primary">Edit Users</a>
<p></p>
<div class="back-button-container">
    <button type="button" onclick="location.href='@Url.Action("Index", "Admin")'" class="btn btn-primary">Admin List</button>
</div>